html, body, h1, h2, h3, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: sans-serif;
}
#header {
	background-color: #5cb85c;
	padding: 20px 0 20px 0;
}
h1{
	text-align: center;
}
nav{
	text-align: center;
}
nav ul li {
	padding: 0 20px 0 20px;
}
ul{
	list-style-type: none;
}
li {
	display: inline;
}

#showcase {
	background-color: #1b6d85;
}

#showcase li {
	display: inline-block;
}

#showcase p {
	width: 300px;
	text-align: center;
}

#showcase img {
	display:block;
	margin:auto;
}

#showcase header {
	text-align: center;
}

#showcase header,ul {
	width: 1149px;
	margin: auto;
}

#showcase figcaption {
	text-align: center;
}